<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% if page.title %}
    <title>{{ site.title }} | {{ page.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">Sidhant Nagpal <span class="brandin">(sidhantnagpal)</span></a>
          <ul class="nav">
                <a href="/archive.html" class="nav_link">Archive</a>
                <a href="/pages.html" class="nav_link">Pages</a>
                <a href="/tags.html" class="nav_link">Tags</a>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-narrow">

      <div class="content-main">
        {{ content }}
      </div>

      <footer class="the-footer">
        <div class="unit-foot">
            <div class="unit-inner unit-foot-inner">
                <div class="misc vcard">
                    <h2 id="contact">contact</h2>
                    <ul>
                        <li class="contact">Email - {{ site.author.email }}</li>
                        <li class="github">Github - <a href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
                        <li class="linkedin">LinkedIn - <a href="http://linkedin.com/{{ site.author.linkedin }}/" rel="me">linkedin.com/in/{{ site.author.linkedin }}</a></li>
                        <li class="irc">IRC - sidhantnagpal [on] <i>freenode</i></a></li>
                    </ul>
                </div><!-- misc -->
                <p>Github repository for this website: <a href="https://github.com/sidhantnagpal/sidhantnagpal.github.io">sidhantnagpal.github.io</a><br />
                Maintained with help from <a href="http://jekyllrb.com">Jekyll</a>
                </p>
            </div><!-- unit-foot-inner -->
        </div><!-- unit-foot -->
      </footer>



    </div>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    {% include JB/analytics %}
  </body>
</html>
